*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background-image: url("../img/bg.jpg");
}
/*导入字体包*/
@font-face{
    font-family: "Myicon";
    src:url("../font/glyphicons-halflings-regular.woff2");
}
.header{
    background: #191818;
    height: 50px;
}
.container{
    position: relative;
    height: 50px;
    width: 1170px;
    margin: 0 auto;
}
.title{
    display: inline-block;
    float: left;
    color: #eee;
    font-size: 18px;
    line-height: 50px;
    margin: 0 15px;
}
.nav {
    float: left;
}
.nav > li {
    display: inline-block;
    height: 50px;
    width: 58px;
    line-height: 50px;
    font-size: 14px;
    text-align: center;
}
.nav > li >a{
    color: #eee;
}
.search{
    display: inline-block;
    float: right;
}
.search > input{
    display: inline-block;
    height: 22px;
    padding: 5px 10px;
    border-radius: 8px;
    outline: none;
    top: calc(50% - 11px);
    margin: 6px 0;
}
.search > button{
    color: #333;
    background-color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    outline: none;
}
.content{
    width: 1170px;
    position: relative;
    margin: 30px auto 0;
}
.content .left{
    display: inline-block;
    width: 65%;
    box-sizing: border-box;
}
.content .right{
    display: inline-block;
    float: right;
    width: 34%;
    box-sizing: border-box;
}
.content::after{
    content: "";
    clear: both;
    display: block;
}
.article_list{
    width: 100%;
    border-radius: 5px;
    margin-top: 15px;
}
.article{
    background: #fff;
    display: inline-block;
    width: 100%;
    border-radius:5px;
    box-shadow: 1px 2px 2px #888;
    overflow: hidden;
    text-align: left;
    margin-top: 15px;
}
.article_title{
    display: inline-block;
    font-size: 20px;
    color: #13102b;
    padding: 20px 10px 5px 10px;
}
.article_title:hover{
    color: #337abc;
}
.article_content{
    font-size: 14px;
    color: #13102b;
    padding: 0 10px 20px 10px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}
.article_foot{
    display: inline-block;
    color: #eee;
    background: #1f1f1f;
    width: 100%;
    padding: 5px 15px;
}
.article_foot > a{
    color: #eee;
}
.right_module{
    display: inline-block;
    width: 100%;
    background: #1f1f1f;
    color: #fff;
    border-radius: 10px;
    text-align: left;
    padding: 0 15px 25px 15px;
    margin-bottom: 20px ;
}
.right_module > div{
    display: block;
    text-align: left;
    font-size: 14px;
    padding:15px 5px 15px 0;
    color: aliceblue;
    background: #000;
}
.right_module > a{
    display: inline-block;
    font-size: 14px;
    color: darkblue;
    margin-right: 5px;
}

.right_module > ul > li{
    padding: 8px 0;
    border-bottom: 1px solid #292929;
}
.right_module > ul > li a{
    color: #fff;
    font-size: 14px;
}
.right_module a:hover{
    color: #337ab7;
}
.right_module > ul >li .user > .comment_day{
    float: right;
}
.right_module > ul >li p a{
    color: #777;
}
.right_module > span{
    display: inline-block;
    width: 49%;
    height: 30px;
    margin-top: 10px;
}
.right_module > span > a {
    color: #fff;
}
footer{
    width: 100%;
    margin-bottom: 0;
    padding: 20px 0;
    color: #a2a2a2;
    text-align: center;
    background-color: #191818;
    border-top: 1px solid #e5e5e5;
}
footer ul li {
    display: inline-block;
}