<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/about.css">
    <title>About</title>
</head>
<body>
<header class="header">
    <div class="container">
        <a href="" class="title">我的个人博客 | 技术博客</a>
        <ul class="nav">
            <li><a href="/">首页</a></li>
            <li><a href="./sitemap.html">地图</a></li>
            <li><a href="./about.html">关于</a></li>
            <li><a href="./guestbook.html">留言</a></li>
        </ul>
        <div class="search">
            <input type="text" placeholder="输入关键词查找">
            <button>搜索</button>
        </div>
    </div>
</header>
<div class="content">
    <div class="left">
        <div class="about_me">
            <div class="text"><h2><strong>关于我</strong></h2>
                <hr>
                <p>博主<a href="./index.html"><strong class="jj">JJ</strong></a>,性别男，辽宁葫芦岛。</p>
                <p>&nbsp;</p>
                <h2><strong>关于博客</strong></h2>
                <hr>
                <p>这个博主很懒，没什么留下的</p>
            </div>
        </div>
        <div class="comment">
            <span class="all_comment_msg">关于: 目前有X条留言</span>
            <div class="blog_comment">
                <span><b>cjh33</b>: 发表于 2018年06月26日 12:35分[回复]</span>
                <div>sdfsdf</div>
            </div>
            <div class="blog_comment">
                <span><b>cjh33</b>: 发表于 2018年06月26日 12:35分[回复]</span>
                <div>sdfsdf</div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="right_module" id="random_tags">
            <div>随机标签云</div>
            <a href=""  v-for="(items,index) in tags"
               :key="items + index"
               :style="{color:getRandomColor(),fontSize:getRandomSize()}">{{items}}</a>
        </div>
        <div class="right_module" id="new_hot">
            <div>最近热门</div>
            <ul>
                <li v-for="(item,index) in titleList"
                    :key="item+index">
                    <a :href="item.link">{{item.title}}</a>
                </li>
            </ul>
        </div>
        <div class="right_module" id="new_comments">
            <div>最新评论</div>
            <ul>
                <li v-for="(items,index) in commentList"
                    :key="items+index">
                    <div class="user">
                        <span class="user_name">{{items.name}}</span>
                        <span class="comment_day">[{{items.date}}]</span>
                    </div>
                    <p>
                        <a href="#">{{items.comment}}</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="right_module">
            <div>友情链接</div>
            <span><a href="">fads</a></span>
            <span><a href="">fads</a></span>
            <span><a href="">fads</a></span>

        </div>
    </div>
</div>
<footer class="footer">
    <ul>
        <li>C/C++</li>
        <li>C/C++</li>
        <li>C/C++</li>
        <li>C/C++</li>
        <li>C/C++</li>
        <li>C/C++</li>
        <li>C/C++</li>
    </ul>
    <p>Copyright © 2010-2017</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./js/base.js"></script>
</body>
</html>